Thumbs.db
ehthumbs.db
Desktop.ini

.idea/
.DS_Store
._DS_Store
._*
node_modules
node_modules/
dist/*
logs/*
upload/*
example/*
coverage/
workspace/*
.project
yarn.lock
npm-debug.log
\._node_modules
cache
*.zip
*.tgz
*.gz